
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #f8f9fa, #f8f9fa); 
    min-height: 100vh;
  }
  .header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
    padding-bottom: 5px;
  }
  
  .header div {
    display: flex;
    align-items: center;
  }
  
  .header .custom-title {
    color: #2c3e50;
    margin: 0;
    font-size: 1.5rem; 
  }
  
  .header img {
    height: 40px;
    object-fit: contain;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #141414;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
  }
  
  .logout-button:hover {
    background-color: #141414;
  }
  .filters {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .filters > div {
    flex: 1 1 calc(25% - 1rem);
    min-width: 200px;
  }
  

  .sources-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    border-radius: 4px;
  }
  
  .sources-table th {
    background-color: black !important;
    color: white !important;
    padding: 0.8rem;
    text-align: left;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
  }
  
  .sources-table td {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
  }
  
  .sources-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .no-data {
    text-align: center;
    color: #888;
    font-style: italic;
  }
  
  